<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Techblog - Blog de Tecnologia e Innovacion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <a class="navbar-brand" href="#" style="color: white;">TechSchool</a>
            <ul class="nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> Inicio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Cursos</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Foro</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Acerca de</a>
                </li>
            </ul>
        </nav>

        <div class="cover d-flex justify-content-center align-items-center flex-column" style="height: 400px; background-color: #D1E1E3;">
            <h1>
                TechBlog
            </h1>
            <p>
                Blog de Tecnologia e Innovacion
            </p>
            <button class="btn btn-primary">
              Conoce Mas
            </button>
        </div>
    </header>

    <!-- Aqui van a ir todos los post  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                {% for post in posts %}
                <div>   
                    <h2 class="mt-4">{{ post.titulo }}</h2>
                    <p class="lead">Autor: {{ post.autor }}</p>
                    <p>Publicado: {{ post.fecha_publicacion }}</p>
                    <p class="lead">{{ post.texto }}</p>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Mas de {{post.titulo}}
                </button>
                {% endfor %}

                {% for post in posts %}
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{post.titulo}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <p>{{post.texto}}</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque odit quam libero eius sequi voluptatum magnam eum quibusdam hic blanditiis, ea vero itaque tenetur numquam a facere illum. Voluptatibus, sint!</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi facilis optio repellat fugit officia distinctio tenetur voluptas commodi tempora numquam deleniti ex animi, voluptate quam ab minima temporibus explicabo nesciunt!</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                    </div>
                </div>
                {% endfor %}

                <!-- Formulario para los comentarios -->
                <div class="card my-4">
                    <h5 class="card-header">Deja tu Comentario:</h5>
                    <div class="card-body">
                    <form>
                        <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Comentar</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>