<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog de tecnologia</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <nav class="nav">

    </nav>
    <div class="d-flex justify-content-center align-items-center flex-column">
        {% for u in usuarios %}
        <div class="card" style="width: 18rem;">
            <img src="" alt="Imagen sin cargar" class="class-img-top">
            <div class="class-body">
                <h5 class="card-tittle">{{u.nombre}}</h5>
                <p class="class-text">Este es la descripcion del estudiante</p>
                <a href="" class="btn btn-primary">Aceptar</a>
            </div>
        </div>      
        {% endfor %}
    </div>
    
</body>

</html>